#favgifcard{
    transition: transform .1s
}
#favgifcard:hover{
    transform: scale(1.2);
    z-index: 100;
}
#favgifcard:hover #deleteIcon{
    display: block;
}

#favgifcard:hover #downloadIcon{
    display: block;
}
#deleteIcon:hover{
    background-color:rgb(46, 45, 45); 
}
#downloadIcon:hover{
    background-color:rgb(46, 45, 45); 
}
#deleteIcon:active{
    transform: scale(0.8,0.8) translateY(2px) 
}
#downloadIcon:active{
    transform: scale(0.8,0.8) translateY(2px) 
}
#deleteIcon:hover #tooltipdelete{
    display: block;
}
#downloadIcon:hover #tooltipdownload{
    display: block;
}
#deleteIcon:active #tooltipdelete{
    display: none;
}
#downloadIcon:active #tooltipdownload{
    display: none;
}


#deleteIcon{
    padding: 3%;
    margin: 2%;
	position:absolute;
	right: 0;
	top: 0;
    display: none;
    color: white;
    background-color: rgba(107, 102, 102, 0.52);
    border-radius: 50%;
}
#delIcon{
    margin:0 auto;
}

#downloadIcon{
    padding: 3%;
    margin: 2%;
	position:absolute;
	left: 0;
	top: 0;
    display: none;
    color: white;
    background-color: rgba(107, 102, 102, 0.52);
    border-radius: 50%;
}
#downIcon{
    margin:0 auto;
}

#tooltipdelete,#tooltipdownload {
    display: none;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
   
    border-radius: 6px;
    position: absolute;
    z-index: 110;
}
