#gifcard{
    transition: transform .1s
}
#gifcard:hover{
    transform: scale(1.2);
    z-index: 1000;
}
#gifcard:hover #favIcon{
    display: block;
}
#gifcard:hover #gifTitle{
    display: block;
}
#gifcard:active {
	transform: scale(1.15,1.15) translateY(2px)
}
#favIcon{
    padding-top: 7px;	
	padding-left: 7px;
	position: absolute;
	left: 0;
	top: 0;
    display: none;
    color: white;
}

#gifTitle{
    padding-bottom: 7px;	
	padding-left: 7px;
	position: absolute;
	left: 0;
	bottom: 0;
    display: none;
    color: white;
    font-size: 1.5em;
}

.favActive{
    color:yellow !important;
}